.idea
build/*
!build/make_android_on_osx.sh
!build/prebuild_v5.0.1_for_android.7z
!build/arm*
build/arm*/*
!build/arm*/bin
!build/arm*/lib
!build/arm*/include
!build/arm*/contrib
build/arm*/contrib/zlib/*
!build/arm*/contrib/zlib/*.a
!build/arm*/contrib/zlib/*.so
build/arm*/contrib/irrXML/*
!build/arm*/contrib/irrXML/*.a
!build/arm*/contrib/irrXML/*.so
!build/arm*/port
!build/arm*/port/AndroidJNI
build/arm*/port/AndroidJNI/*
!build/arm*/port/AndroidJNI/*.a
!build/arm*/port/AndroidJNI/*.so
!build/arm*/code
!build/arm*/code/*.so
!build/arm*/tools
!build/x86*
build/x86*/*
!build/x86*/bin
!build/x86*/lib
!build/x86*/include
!build/x86*/contrib
build/x86*/contrib/zlib/*
!build/x86*/contrib/zlib/*.a
!build/x86*/contrib/zlib/*.so
build/x86*/contrib/irrXML/*
!build/x86*/contrib/irrXML/*.a
!build/x86*/contrib/irrXML/*.so
!build/x86*/port/AndroidJNI
build/x86*/port/AndroidJNI/*
!build/x86*/port/AndroidJNI/*.a
!build/x86*/port/AndroidJNI/*.so
!build/x86*/code
!build/x86*/code/*.so
!build/x86*/tools
.project
*.kdev4*
.DS_Store

# build artefacts
*.o
#*.a

# Visual Studio
*.sln
*.ncb
*.vcproj
*.vcxproj.user
*.VC.db
*.VC.db-shm
*.VC.db-wal
*.VC.opendb
*.ipch

# Output
#bin/
#lib/

# QtCreator
CMakeLists.txt.user

# Generated
assimp.pc
assimp.aps
revision.h
contrib/zlib/zconf.h
contrib/zlib/zlib.pc
include/assimp/config.h
unit.vcxproj.user

# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
cmake_uninstall.cmake
*.dir/
assimp-config.cmake
assimp-config-version.cmake
assimpTargets*.cmake

# MakeFile
Makefile
code/Makefile
test/Makefile
test/headercheck/Makefile
tools/assimp_cmd/Makefile

# Tests
test/results
test/readlinetest*

# Python
__pycache__
*.log
*.vcxproj
*.filters
*.tlog
Assimp.sdf
test/gtest/tmp/gtest-gitupdate.cmake
test/gtest/tmp/gtest-gitclone.cmake
test/gtest/tmp/gtest-cfgcmd.txt.in
test/gtest/tmp/gtest-cfgcmd.txt
test/gtest/src/gtest-stamp/gtest-download.cmake
test/gtest/src/gtest-stamp/gtest-configure.cmake
test/gtest/src/gtest-stamp/gtest-build.cmake
test/gtest/src/gtest-stamp/Debug/gtest-patch
*.cache
test/gtest/src/gtest-stamp/Debug/gtest-build
*.suo
*.lib
test/gtest/src/gtest-stamp/Debug/
tools/assimp_view/assimp_viewer.vcxproj.user
*.pyc

# Unix editor backups
*~
test/gtest/src/gtest-stamp/gtest-gitinfo.txt
test/gtest/src/gtest-stamp/gtest-gitclone-lastrun.txt
Assimp.opensdf
contrib/zlib/CTestTestfile.cmake
ipch/assimp_viewer-44bbbcd1/assimp_viewerd-ccc45335.ipch
bin64/assimp-vc140-mt.dll
bin64/assimp-vc140-mtd.dll
lib64/assimp-vc140-mt.exp
lib64/assimp-vc140-mtd.exp
lib64/assimp-vc140-mtd.ilk
lib64/assimp-vc140-mtd.pdb
bin64/assimp-vc120-mt.dll
bin64/assimp-vc120-mtd.dll
lib64/assimp-vc120-mtd.pdb
lib64/assimp-vc120-mtd.ilk
lib64/assimp-vc120-mtd.exp
lib64/assimp-vc120-mt.exp
xcuserdata

cmake-build-debug
install_manifest.txt
tools/assimp_qt_viewer/moc_glview.cpp
tools/assimp_qt_viewer/moc_glview.cpp_parameters
tools/assimp_qt_viewer/moc_mainwindow.cpp
tools/assimp_qt_viewer/moc_mainwindow.cpp_parameters
tools/assimp_qt_viewer/ui_mainwindow.h
